<!DOCTYPE html>

<html lang="pt-BR">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" >
		<meta charset="utf-8" >
		
		<link href="/media/css/style.css" rel="stylesheet" type="text/css" media="screen" />
		
		<script type="text/javascript" src="/media/script/jquery-1.4.2.js"></script>
		<script type="text/javascript" src="/media/script/menu.js"></script>
		<script type="text/javascript" src="/media/script/voto.js"></script>
		
		<title>twittface</title>
	</head>
	
	<body>
		<header>	
			<div class="container">
				<div id="header">
					<div id="logo">
						<h1>twittface</h1>
					</div>
					<ul id="menu_top">
						<li><a href="#">Home</a></li>
						<li><a href="#">Contato</a></li>
						<li><a href="/logout">sair</a></li>
						
					</ul>
 					<img src='${usuario.image_url}' />
					<div style="clear:both"></div>
				</div>
			</div><!-- id="container" -->
		</header>
		<div id="main">	
			<div class="container">
				<div id="banner"> </div>
				<div id="content"> 
					<h2>PALAVRA DE HOJE:</h2>
					<h4>CALCINHA</h4>
					<span class="username"</span><p></p>
					<span class="timeago"></span>
				
					<div class="ratings-ico">
						<img src="/media/images/ico_bomba.png" height="30" width="30"/>
						<img src="/media/images/ico_bomba.png" height="30" width="30"/>
						<img src="/media/images/ico_bomba.png" height="30" width="30"/>
						<img src="/media/images/ico_coracao.jpg" height="25" width="25"/>
						<img src="/media/images/ico_coracao.jpg" height="25" width="25"/>
						<img src="/media/images/ico_coracao.jpg	" height="25" width="25"/>
					</div>
					
					<input type="hidden" value="${usuario.id_twitter}" name="eleitor"/>
					<input type="hidden" value="123123123" name="candidato"/>
					<div class="ratings-num">
						<span><a href="#" id="1">1</a></span>
						<span><a href="#" id="2">2</a></span>
						<span><a href="#" id="3">3</a></span>
						<span><a href="#" id="4">4</a></span>
						<span><a href="#" id="5">5</a></span>
					</div>
					<div class="messageBox"></div>
										
				</div>
				<div id="voted"> 
					<div class="box_titulo">
						<h4>VOTADAS RECENTEMENTE:</h4>
					</div>
					
					<div class="box_voted">
						<div class="img_voted">
							<img src="/media/images/voted.jpg" height="73" width="73"/>
							<span>5</span>
						</div>
						<div class="img_voted">
							<img src="/media/images/voted.jpg" height="73" width="73"/>
							<span>5</span>
						</div>
						<div class="img_voted">
							<img src="/media/images/voted.jpg" height="73" width="73"/>
							<span>5</span>
						</div>
						<div class="img_voted">
							<img src="/media/images/voted.jpg" height="73" width="73"/>
							<span>5</span>
						</div>	
					</div>
				</div>
				<div id="publicidade">
					<img src="/media/images/logo_cartola.png"/>
					<span>Chame seu amigos!</span>
				</div>
				
				<div style="clear:both"></div>
				<div id="novidades" class="painel_destaque"> 
					<h3>QUALIDADE <span>MAIS VOTADAS</span></h3>
					<div class="produto">
						<img src="/media/images/produto.jpg">
						<small>votos: <span><b>157</b></span></small>
					</div>
					<div class="produto">
						<img src="/media/images/produto.jpg">
						<small>votos: <span><b>157</b></span></small>
					</div>
					<div class="produto">
						<img src="/media/images/produto.jpg">
						<small>votos: <span><b>157</b></span></small>
					</div>
					<div class="produto">
						<img src="/media/images/produto.jpg">
						<small>votos: <span><b>157</b></span></small>
					</div>
					
					<div class="produto">
						<img src="/media/images/produto.jpg">
						<small>votos: <span><b>157</b></span></small>
					</div>
					<div class="produto">
						<img src="/media/images/produto.jpg">
						<small>votos: <span><b>157</b></span></small>
					</div>
					<div class="produto">
						<img src="/media/images/produto.jpg">
						<small>votos: <span><b>157</b></span></small>
					</div>
					<div class="produto">
						<img src="/media/images/produto.jpg">
						<small>votos: <span><b>157</b></span></small>
					</div>
					
				</div>
				<div id="vendidos" class="painel_destaque">
					<h3>CANALHADAS <span>MAIS VOTADAS</span></h3>
					<div class="produto">
						<img src="/media/images/produto.jpg">
						<small>votos: <span><b>157</b></span></small>
					</div>
					<div class="produto">
						<img src="/media/images/produto.jpg">
						<small>votos: <span><b>157</b></span></small>
					</div>
					<div class="produto">
						<img src="/media/images/produto.jpg">
						<small>votos: <span><b>157</b></span></small>
					</div>
					<div class="produto">
						<img src="/media/images/produto.jpg">
						<small>votos: <span><b>157</b></span></small>
					</div>
					
					<div class="produto">
						<img src="/media/images/produto.jpg">
						<small>votos: <span><b>157</b></span></small>
					</div>
					<div class="produto">
						<img src="/media/images/produto.jpg">
						<small>votos: <span><b>157</b></span></small>
					</div>
					<div class="produto">
						<img src="/media/images/produto.jpg">
						<small>votos: <span><b>157</b></span></small>
					</div>
					<div class="produto">
						<img src="/media/images/produto.jpg">
						<small>votos: <span><b>157</b></span></small>
					</div>
				</div>
			</div><!-- id="container" -->
		</div><!-- id="main" -->
		<div style="clear:both"></div>
		<footer>
			<div class="container">
				<div id="info">
					<p>projeto relampago - python brasil</p>
					<p>@2010, twittface</p>
				</div>
				<div id="newsletter">
					<img src="/media/images/logopython.png">
				</div>
			</div><!-- id="container" -->
		</footer>
		
	</body>

</html>